name: CD

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3

jobs:
  dist:
    name: Distribution build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - uses: astral-sh/setup-uv@v6

      - name: build
        run: uv sync && uv build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

  # release:
  #   needs: [dist]
  #   name: Create GitHub Release
  #   runs-on: ubuntu-latest
  #   if: startsWith(github.ref, 'refs/tags/v')
  #   permissions:
  #     contents: write

  #   steps:
  #     - uses: actions/download-artifact@v4
  #       with:
  #         name: Packages
  #         path: dist

  #     - name: Create Release
  #       uses: softprops/action-gh-release@v2
  #       with:
  #         files: dist/*
  #         generate_release_notes: true

  publish:
    needs: [dist]
    name: Publish to PyPI
    environment: pypi
    permissions:
      id-token: write
      attestations: write
      contents: read
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: Packages
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
